#home-view {
    .page-wrap {
      background-color: white;
      color: white;
      width: 100%;
    }
    .section-wrap {
      padding: 90px 0 48px;
    }
    .skew-wrap {
      display: block;
      margin: 0px;
      padding: 0px;
      position: relative;
    }
    .cover-all {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }
    .relative {
      position: relative;
    }
    .bg-color-light {
      background-color: $gitbook-blue-light;
    }
    .bg-color-medium {
      background-color: $gitbook-blue-medium;
    }
    .bg-color-dark {
      background-color: $gitbook-blue-dark;
    }
    .box-shadow {
      box-shadow: 0 2px 244px 0 rgba(56,132,255,0.4);
    }
    .skew {
      transform: skewY(-2deg);
    }
    .skew-reset {
      transform: skewY(2deg);
    }
    .skew2 {
      transform: skewY(-4.5deg);
    }

    .pb-screenshot {
      margin-bottom: -20%;
      width: 100%;
    }

    .top-section {
      overflow: hidden;
      padding-top: 480px;
      margin-top: -480px;
      .fabButton {
        // background-color: blue;
        line-height: 40px;
        max-width: 320px;
        width: 100%;
        // margin: auto;
        color: #3884FF;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        border-radius: 99999px;
        background: #FFFFFF;
      }

      .bottom-banner {
        position: relative;
        .wallet-providers {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          align-items: center;
          padding-top: 4rem;
          padding-bottom: 6rem;
          margin-bottom: -4rem;
        }
      }
    }

    .bottom-section {
      display: block;
      margin: 0px;
      padding: 0px;
      overflow: hidden;
      margin-bottom: -48px;
      padding-top: 48px;
      margin-top: -48px;

      .bottom-skew {
        margin-bottom: -22px;
      }
      .site-links {
        list-style-type: none;
        display: flex;
        justify-content: flex-start;
        color: #9DAAB6;
        span {
          margin-right: 1rem;
          &:last-child {
            margin-left: auto;
          }
        }

      }
    }

    .team-card {
      margin: 1rem;
      .picture {
        margin-bottom: 16px;
        border-radius: 3px;
        box-shadow: 0 3px 8px 0 rgba(56,132,255,0.1);
        overflow: hidden;
      }
      .title {
        font-weight: 400;
        color: #9DAAB6
      }
    }
    .team-section {
      color: #242A31;
      .card-wrap {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 3rem 0;
      }
    }
}
