// Global classes are defined here
@import '~react-input-token/lib/style.css';
@import 'mixins';
@import 'layout.scss';
@import 'colors.scss';
@import 'fontSizing.scss';
@import 'fontFace.scss';

// views
@import 'createPoolView.scss';
@import 'viewPoolView.scss';
@import 'accountView.scss';
@import 'dashboardView.scss';
@import 'homeView.scss';
@import 'deploy.scss';
@import 'multiStepForm.scss';
// components
@import 'loader.scss';
@import 'mainMenu.scss';
@import 'goBackButton.scss';
@import 'heroBanner.scss';
@import 'backgroundImageHeader.scss';
// misc
@import 'quill-overrides.scss';
@import 'react-skylight.scss';
@import 'toastify-overrides.scss';
@import 'react-token-input-overrides.scss';
@import 'sweet-alert-overrides.scss';
@import 'react-toggle.scss';
@import 'react-datepicker.scss';
@import 'pagination.scss';
@import 'cropper.scss';
// overrides
@import 'formsyOverrides.scss';
@import 'buttons.scss';


// html {
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
// }
// *, *:before, *:after {
//   -webkit-box-sizing: inherit;
//   -moz-box-sizing: inherit;
//   box-sizing: inherit;
//   }

html,
body,
#root  {
    height: 100%;
    font-family: 'Proxima Nova Rg', sans-serif;
    color: #32313a;
    margin: 0;
    padding: 0;
    background-color: $page-background;
}

button:focus {outline:0;}

.underline {
  text-decoration: underline;
}
.two-col-inner-padding  {
  >:first-child {
    margin-right:1rem;
  }
  >:last-child {
    margin-left:1rem;
  }
}
.list-icon-group {
  width: 66px;
  display: flex;
  margin: auto 0 12px 10px;
  justify-content: flex-end;
}
.list-remove-button {
  position: absolute;
  top: 7px;
  right: 0px;
}


// .col,
// [class*="col-"] {
//   &:first-child {
//     padding-left: 0px;
//   }
//   &:last-child {
//     padding-right:0px;
//   }
// }

// .row {
//   &:not(:first-child) {
//     margin-top: 1rem;
//   }
// }
.radio-indent {
  margin-top: -14px;
  // margin-left: 10px;
}
// .col-inner-padding:not(:first-child,:last-child) {
//   margin-right:1rem;
//   margin-left:1rem;
// }

.full-height {
  height: 100%;
}
.page-layout {
    margin-top: 80px;
    // padding: 20px;
    // height: 100%;
    // padding: 130px 20px 50px 20px;
    // &.reduced-padding {
    //     padding-top: 50px;
    // }
    // &.extended-padding {
    //     padding-top: 80px + 50px;
    // }
    // @media (max-width: 768px) {
    //     padding: 130px 20px 50px 20px;
    // }
}

a,
button {
    cursor: pointer;
    &.secondary-link {
        color: $secondary-link;
    }
}

label,
.label {
    font-weight: 600;
    margin-bottom: 2px;
    font-size: 0.9rem;
}


table {
    overflow-x: scroll;
    /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

.help-block {
    color: lighten(black, 30%);
    font-size: 0.75rem;
    font-weight: 300;
}

.form-text {
    margin-top: -3px;
    margin-bottom: 10px;
    color: lighten(black, 30%);
    font-size: 0.75rem;
    font-weight: 300;
}

input[type="file"] {
    display: block;
}

i {
    margin-right: 5px;
    &.fa-question-circle-o,
    &.fa-question-circle {
        color: $green;
    }
}

.empty-state-img {
    margin: 40px 0;
    &.reduce-margin {
        margin: 20px 0;
    }
}

.spacer-top {
    margin-top: 50px;
}

//
.form-group {
    // $valid-green: darken($green, 2%);
    label {
        // color: $valid-green;
    }
    input {
        // border-color: $valid-green;
        &[type="file"] {
            margin-top: 2px;
        }
    }
    // &.is-valid {
    //   .ql-toolbar {
    //     border-top-color: $valid-green;
    //     border-right-color: $valid-green;
    //     border-left-color: $valid-green;
    //   }
    //   .ql-container {
    //     border-bottom-color: $valid-green;
    //     border-right-color: $valid-green;
    //     border-left-color: $valid-green;
    //   }
    // }
    &.has-error {
        $error-red: darken($red, 20%);
        label {
            color: $error-red;
        }
        input {
            border-color: $error-red !important;
        }
        .ql-toolbar {
            border-top-color: $error-red !important;
            border-right-color: $error-red !important;
            border-left-color: $error-red !important;
        }
        .ql-container {
            border-bottom-color: $error-red !important;
            border-right-color: $error-red !important;
            border-left-color: $error-red !important;
        }
        .help-block {
            color: $error-red;
            margin-left: 0;
            font-weight: 500;
            &:not(.validation-message) {
                display: none;
            }
        }
    }
    // &.has-feedback > input {
    //   border-color: $valid-green;
    // }
    .validation-message {
        margin-left: 3px;
    }
}

.nav-tabs {
    margin-top: 50px;

    .nav-link {
        font-size: 0.8rem;

        &.active {
            background-color: #f9f9f9;
            border-bottom-color: #f9f9f9;
        }
    }
}

.image-preview {
    background-color: #f9f9f9;
    padding: 5px;
    text-align: center;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    margin-bottom: 10px;
    max-width: 150px;
    img{
        width: 100%;
    }
}

.image-preview.small{
    max-width: 100px;
}

.react-toggle-container{
    display: flex;

    .label{
        margin-left: 10px;
    }
}
.inline{
    display: inline;
}

span.nav-link {
  cursor: pointer;
}
span.nav-link:focus {
  outline: 0;
}
